<title>Shared Todo App</title>
<h1>Shared Todo App</h1>
<p>All your todos here</p>
<ul>
	<% @todo_items.each do |t| %>
		<li><%= t.todo_item %></li>
	<% end %>
</ul>
<a href="/todos/delete">Delete Last Todo</a>